/* Common Styles */
* {
  margin: 0;
  padding: 0;
  font-family: 'Vollkorn', serif;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 62.5%;
}

:root {
  --primary-color: #2b81e4;
  --secondary-color: #eee;
  --white-color: #fff;
  --grey-color: #555;
  --light-grey-color: #777;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: var(--secondary-color);
  margin: 3.5rem;
  box-shadow: 0 1rem 3rem var(--grey-color);
  overflow: hiden;
}

/* END COMMON STYLES */

/* NAVBAR */

/* start by settupin up navbar-icon
then hide navbar-wrapper to focus on the first element */

.navbar-icon {
  width: 5.5rem;
  height: 5.5rem;
  background-color: var(--white-color);

  /*make rounded backbground*/
  border-radius: 50%;
  cursor: pointer;
  flex-direction: column;
}

.open-navbar-icon {
  position: fixed;
  top: 0.5rem;
  left: 0.5rem;
  z-index: 200;
}

/* display the lines */
.navbar-icon .line {
  height: 0.2rem;
  width: 3.5rem;
  background-color: var(--light-grey-color);
}

.open-navbar-icon .line {
  margin: 0.3rem 0;
}

/*start by hiding navbar wrapper */
/* .navbar-wrapper {
  display: none;
} */

.navbar-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.7);
  position: fixed;
  left: 0;
  z-index: 300;

  padding: 3.5rem 5.5rem 3.5rem 3.5rem;

  /* make it hidden tos tart and invisible!*/
  bottom: -100%;
  opacity: 0;

  /* transition it*/
  transition: bottom 0.5s opacity 0.2s;
  opacity: 0.2s;
}

.change .navbar-wrapper {
  bottom: 0;
  opacity: 1;
  transition: bottom 0.5s, opacity 0.2s 0.25s;
}

.navbar {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    url(images/navbar-bg.jpg) center no-repeat;
  background-size: cover;
  position: relative;
  overflow-y: hidden;
}

/* position teh close navbar icon */
.close-navbar-icon {
  position: absolute;
  top: 2.5rem;
  right: 3rem;
  z-index: 300;
}

/* make lines into an x */
.close-navbar-icon .line {
  position: absolute;
}

/* make x */
.line-1 {
  transform: rotate(40deg);
}

.line-2 {
  transform: rotate(-40deg);
}

/* now work on nav links */

/* make each link 100% */
.nav-list {
  height: 100%;
  display: flex;
}

.nav-link {
  font-size: 3rem;
  font-weight: 700;
  color: var(--white-color);
  text-transform: uppercase;
  width: 100%;
  position: relative;
  opacity: 0.8;
  top: -100%;
}

.change .nav-link {
  top: 0;
}

.nav-link:hover {
  opacity: 1;
  color: var(--primary-color);
  transition: all 0.3s;
}

.change .nav-link:nth-child(1) {
  transition: top 1s 0.4s, opacity 0.3s, color 0.3s;
}

.change .nav-link:nth-child(2) {
  transition: top 1s 0.6s, opacity 0.3s, color 0.3s;
}

.change .nav-link:nth-child(3) {
  transition: top 1s 0.8s, opacity 0.3s, color 0.3s;
}

.change .nav-link:nth-child(4) {
  transition: top 1s 1s, opacity 0.3s, color 0.3s;
}

.change .nav-link:nth-child(5) {
  transition: top 1s 1.2s, opacity 0.3s, color 0.3s;
}

/* END OF NAVBAR */

/* HEADER */

/*look at container top and bottom */
.header {
  width: 100%;
  /*  here it is minus margin total 3.5 * 2 */
  height: calc(100vh - 7rem);
  /* note from one colour to another */
  background: linear-gradient(rgba(18, 113, 255, 0.5), rgba(18, 113, 255, 0.3)),
    url(images/header-bg.jpg) center no-repeat;
  position: relative;
  /* perspective -- how far away from the user with samller values being more intense*/
  /* needs another vlaue somewhere */
  perspective: 100rem;
}

/* note howe we align text with text-algin center on parent */
.header-text {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-shadow: 0 0.3rem 0.5rem var(--grey-color);
}

.heading {
  font-size: 8rem;
  color: var(--white-color);
}

/* then text align margin with child*/
.header-paragraph {
  font-size: 3rem;
  font-weight: 500;
  color: var(--secondary-color);
  max-width: 70rem;
  margin: auto;
}

.logo {
  position: absolute;
  top: 4rem;
  right: 4rem;
}

.logo h1 {
  display: flex;
}

.logo h1 span {
  font-size: 2rem;
  font-weight: 900;
  color: var(--primary-color);
  text-transform: uppercase;
  background-color: var(--white-color);
  width: 3.5rem;
  /* width and height cannot be added to inline element */
  height: 3.5rem;
  margin: 0.5rem;
  border-radius: 50%;
}

/* first value is the animation-duration duration of the animation */
/*second value is animation-delay 0.1*/
/* animation iteration count property -- infinite */
.logo h1 span:nth-child(1) {
  animation: drop-letters 5s 0.1s infinite;
}

.logo h1 span:nth-child(2) {
  animation: drop-letters 5s 0.2s infinite;
}

.logo h1 span:nth-child(3) {
  animation: drop-letters 5s 0.3s infinite;
}

.logo h1 span:nth-child(4) {
  animation: drop-letters 5s 0.4s infinite;
}

.logo h1 span:nth-child(5) {
  animation: drop-letters 5s 0.5s infinite;
}

.logo h1 span:nth-child(6) {
  animation: drop-letters 5s 0.6s infinite;
}

.logo h1 span:nth-child(7) {
  animation: drop-letters 5s 0.7s infinite;
}

@keyframes drop-letters {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(0);
  }
  15% {
    transform: translateY(-100%);
  }
  20% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

.header-image {
  width: 35%;
  /* now we assign the image name, length and duration*/
  animation: image-float 150s infinite;
}

/* have to add perspective to the parent element -- here header 
lower value creates a more intensive experience */
@keyframes image-float {
  0% {
    transform: translateZ(40rem);
    opacity: 1;
  }
  /* also move a little to the right */
  40% {
    transform: translateZ(-500rem) translateX(150rem);
    opacity: 0.8;
  }
  70% {
    transform: translateZ(-1500rem) translateX(800rem);
    opacity: 0.6;
  }
  /* move balloon closer to the user and back to the right */
  80% {
    transform: translateZ(-50rem) translateX(100rem);
    opacity: 0.8;
  }
  /* at the end come back to the beginning */
  100% {
    transform: translateZ(40rem);
    opacity: 1;
  }
}

/* END OF HEADER */

/* POPULAR TOURS */

.popular-tours {
  padding: 5rem 0 10rem 0;
}

.popular-tours-heading {
  font-size: 8rem;
  text-align: center;
  margin-bottom: 8rem;
  color: var(--primary-color);
  text-shadow: 0 0.1rem 0.2rem var(--primary-color);
}

.cards-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.card {
  width: 35rem;
  position: relative;

  /* here is where we enable the back-side to be behind --needs to be
  like parent relative to enable it*/
  perspective: 150rem;
}

/* image inherits the width from the parent element */
.card-image {
  width: 100%;
  /* top left top right bottom right bottom left */
  /* border radius on top but not on bottom corners*/
  border-radius: 0.3rem 0.3rem 0 0;
}

/* this makes all the borders below rounded */
.front-side {
  text-align: center;
  background-color: var(--white-color);
  border-radius: 0.3rem;
  position: relative;

  /* z-index needed for on top*/
  z-index: 10;

  /* note opacity here */
  opacity: 0.9;
  transition: opacity 0.4s, transform 0.2s, box-shadow 0.4s;
}

/* check all children of specified element */
/* see backside for compliment of this */
.change > .front-side {
  transform: translateZ(-5rem) translateX(3rem);
  box-shadow: 0 2rem 4rem #777;
  opacity: 0.5;
  z-index: 0;
}

.tour-name {
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  top: 30%;
  right: 1.5rem;
  color: var(--white-color);
  text-shadow: 0 0 1rem #000;
}

/* ul is a block level element */
/* center itself a children elements in its container 
/* container here is front-side*/
/* note how we set padding on all child elements by defining
it on the parent -- see padding */
.card-list {
  width: 80%;
  margin: auto;
  padding: 2rem 0 3rem 0;
}

.card-list-item {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--light-grey-color);
  margin: 2rem 0;
  border-bottom: 0.1rem solid var(--primary-color);
  padding-bottom: 1.5rem;
}

/* here we are going to move the back side up 
and position relative to the card */
/* note that card is the parent element */
.back-side {
  position: absolute;
  top: 0;
  background-color: var(--primary-color);
  width: 100%;
  height: 100%;
  border-radius: 0.3rem;
  box-shadow: 0 2rem 4rem #777;
  flex-direction: column;

  /* create flip 3 d effect*/
  /* see perspective on card parent */
  transform: translateZ(-5rem) translateX(3rem);
  /* end move to right and behind*/

  /*opacity */
  opacity: 0.5;
  /* can't use all or it will break */
  transition: opacity 0.4s, transform 0.2s, box-shadow 0.4s;
}

/* check all children of specified element */
.change > .back-side {
  transform: translateZ(0) translateX(0);
  box-shadow: 0 0.5rem 2rem #aaa;
  opacity: 0.9;
}

.tour-price {
  font-size: 5rem;
  font-weight: 300;
  color: var(--white-color);
  margin-bottom: 3rem;
}

.card-button {
  color: var(--primary-color);
  background: color var();
  /* need to get rid of borderes on buttons */
  font-size: 2.5rem;

  /* some button styling */
  /* border, padding, letter-spacing, cursor*/
  border: none;
  padding: 1rem 2rem;
  letter-spacing: 0.2rem;
  border-radius: 5rem;
  cursor: pointer;
}

.navigation-button {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;

  border: none;
  /* note equal padding and border-radius*/
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.8);
  color: var(--light-grey-color);
  border-radius: 0.3rem;

  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  cursor: pointer;
}

/* END OF POPULAR TOURS*/

/* STORIES */
/* FIND VIDEOS COVERR -- FREE VIDEOS */

.stories {
  padding: 10rem 0;
  position: relative;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

/* prevetns video distortion */
.bg-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.stories-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* here we make the background less than total */
.story-bg {
  background-color: rgba(238, 238, 238, 0.85);
  padding: 5rem;
  margin: 5rem;
  width: 70%;
  box-shadow: 0 2rem 5rem rgba(51, 51, 51, 0.4);
  /* transform the item */
  transform: skewX(20deg);
}

.story {
  transform: skewX(-20deg);
  display: flex;
}
/* image tag */
.story-image {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 5rem;
}

.story-text {
  letter-spacing: 0.1rem;
}

.story-heading {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--grey-color);
  margin-bottom: 1rem;
}

.story-paragraph {
  font-size: 1.8rem;
  color: var(--light-grey-color);
}

.story-paragraph::first-letter {
  margin-left: 1rem;
}

/* END OF STORIES */

/* CONTACT */

/* .contact {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(4, 55, 131, 0.5), rgba(1, 22, 54, 0.3)),
    url(images/contact-us-bg.png) center no-repeat;
  opacity: 0.8;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  top: 50%;
  margin: auto;
  width: 40%;
  height: 40%;
  background: #bbb;
  padding: 5%;
}

.input-group {
  width: 100%;
  margin: 1rem 0;
  position: relative;
}

.input-group > input {
  width: 100%;
  height: 5rem;
  border-radius: 0.2rem;
}

.input-group > label {
  position: absolute;
  font-size: 2rem;
}

.input-group > input[placeholder] {
  margin-top: 2rem;
}
.input-groups {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.input-groups > .input-group {
  width: 48%;
}

.input-group > textarea {
  width: 100%;
} */
/* END OF CONTACT */

/* CONTACT */

/* interesting -- because it is inheirted -- more efficient than flex which
only goes 1 level down */

/* here we use text-align center instead of flex*/
.contact {
  padding: 15rem 0 20rem 0;
  text-align: center;
  background: url(images/contact-us-bg.png) center no-repeat;
  background-size: cover;

  /* animation on background */
  animation: contact-bg 20s infinite;
}

.contact-heading {
  font-size: 7rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: var(--white-color);
  text-shadow: 0 1rem 2rem #000;
  margin-bottom: 8rem;
}

.contact-form {
  width: 70rem;
  height: 50rem;
  background-color: rgba(255, 255, 255, 0.95);
  margin: auto;
  flex-direction: column;
  border-radius: 1rem;
  box-shadow: 0 1rem 3rem #000;
  padding: 5rem;
}

.input-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem 0;
  position: relative;
}

/* note how set input-groups to 100% to stretch */
.input-groups {
  width: 100%;
  display: flex;
}

.input-groups .input-group {
  width: 48.5%;
}

.input-group input,
.input-group textarea {
  padding: 3rem 1rem 1rem 1rem;
  background-color: var(--secondary-color);
  border: 0.1rem solid var(--secondary-color);
  font-size: 1.4rem;
  color: var(--light-grey-color);
  letter-spacing: 0.1rem;
  border-radius: 0.5rem;

  /* make a smooth effect -- first make your effect as below
  note that we have a border on focus -- then add a transition
  to the indicated element navimg what will change or all as follows */
  transition: border 0.3;
}

.input-group input:focus,
.input-group textarea:focus {
  border: 0.3rem solid #ccc;
}

/* now we customize the labels of the fields*/
.input-group label {
  /* first we style the labels */
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: var(--grey-color);
  /* end style labels */

  /* position labels */
  /* need to add position relative to parent input -group */
  /* just think enclosing element */
  position: absolute;
  top: 1rem;
  left: 1rem;
  /* end label position */
}

/* submit button design*/
.form-btn {
  /* button styling */
  width: 100%;
  padding: 1rem;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  margin-top: 1rem;
  background-color: var(--light-grey-color);
  border: none; /* needs this as a button */
  cursor: pointer;

  /* text styling */
  color: var(--white-color);
  border-radius: 0.5rem;

  /* trasition */
  transition: background-color 0.4s;
}

/* button hover effect */
/* note transition on parent element above*/
.form-btn:hover {
  background-color: var(--grey-color);
}

/* text area --prevent css mess up */
.input-group textarea {
  max-height: 15rem;
  max-width: 100%;
}

/* create animation effect*/
/* name animation whatever you want */
/* first we create the key frames --- then we assign the animation */
/* see full section element */
@keyframes contact-bg {
  0% {
    background-color: #3d3d3d;
  }

  25% {
    background-color: #ced8e4;
  }

  50% {
    background-color: #1e81f3;
  }

  75% {
    background-color: #ff7842;
  }

  100% {
    background-color: #3d3d3d;
  }
}

/* end of his CONTACT */

/* footer */
/* .footer {
  background-color: var(--grey-color);
  height: 12rem;
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-list {
  margin: 3rem 10rem;
}

.footer-link {
  margin: 0 3rem;
  color: var(--white-color);
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}

.footer-paragraph {
  margin-top: 0.5rem;
  font-size: 1.5rem;
  color: var(--white-color);
  letter-spacing: 0.1rem;
} */

/* end of footer*/

/* HIS FOOTER */
.footer {
  background-color: var(--grey-color);
  padding: 4rem 0 2rem 0;
}

.footer-list {
  display: flex;
  justify-content: center;
}

.footer-link {
  font-size: 2rem;
  color: var(--white-color);
  margin: 0 2rem;
  background-color: var(--grey-color);
  padding: 0.3m 3rem;
  letter-spacing: 0.3rem;

  /* now we set how it will be on hover
  note that this is for the item */
  transition: all 0.2s;
}

/* here we create the hover effect -- above we apply it */
.footer-link:hover {
  transform: rotate(-10deg);
  box-shadow: 0 2rem 3rem #000;
}

/* now we do the paragraph */
.footer-paragraph {
  text-align: center;
  font-size: 1.5rem;
  color: var(--secondary-color);
  letter-spacing: 0.2rem;
  margin-top: 5rem;
}
/* END HIS FOOTER */

/* 1198 x 900 */
@media (max-width: 1200px) {
  .cards-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .card {
    margin: 3rem 0;
  }

  .story-bg {
    width: 85%;
  }
}

/* this is everything under 1000*/
/* 830 x 909 */
@media (max-width: 1000px) {
  .nav-list {
    flex-direction: column;
  }

  /* note how will tkae up available space */
  .nav-link {
    flex-grow: 1;
  }

  /* note here how we center the header 
  in teh center of the page using 4 values */
  .header-text {
    /* text center value */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* end text center value */
    z-index: 10;
  }

  /* now we change font size*/
  .heading {
    font-size: 6rem;
  }

  .header-paragraph {
    font-size: 2.5rem;
  }

  /* again decrease font size heading */
  .popular-tours-heading {
    font-size: 6rem;
  }

  /* remove skew -- no longer skew */
  .story-bg {
    transform: skewX(0);
  }

  .story {
    transform: skewX(0);
    flex-direction: column;
    align-items: center;
  }

  .story-image {
    margin-bottom: 3rem;
  }

  /* footer decrease space and padding */
  .footer-link {
    padding: 0.3rem 2rem;
    margin: 0 1rem;
  }
}

/* 695 x 909 */

@media (max-width: 800px) {
  /* here we completely remove the paragraph --
  less text for smaller sizes*/
  .header-paragraph {
    display: none;
  }

  /* card heading size and font size*/
  .popular-tours-heading {
    font-size: 5rem;
  }

  /*decrease width */
  .contact-form {
    width: 90%;
  }

  /* links become column */
  /* align item center*/
  .footer-list {
    flex-direction: column;
    align-items: center;
  }

  /* add space between links */
  .footer-link {
    margin: 1rem 0;
  }
}
/* 550 x 909 */
/* removing contaier margin and padding*/
/* change position */
/* decrease header size*/
/* form size padding smaller */
@media (max-width: 650px) {
  /* now container goes to full widht of page*/
  .container {
    margin: 0;
  }

  .open-navbar-icon {
    top: 2.5rem;
    left: 2.5rem;
  }

  /* here we are removin padding */
  .navbar-wrapper {
    padding: 0;
  }

  .close-navbar-icon {
    right: 4rem;
  }

  .header {
    height: 100vh;
  }

  .contact-heading {
    font-size: 6rem;
  }

  .contact-form {
    padding: 2rem;
    height: 40rem;
  }
}

/* easiest way to just decrease the html*/
@media (max-width: 500px) {
  html {
    font-size: 45%;
  }
}
